Package: com.0xkuj.ccdndtimer
Name: CCDNDTimer
Depends: mobilesubstrate
Version: 1.1.2
Architecture: iphoneos-arm
Description: DND Toggle with timer included
Maintainer: 0xkuj
Author: 0xkuj
Section: Control Center (Modules)
