Package: com.0xkuj.ccdndtimer
Name: CCDNDTimer
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome Control Center module!
Maintainer: 0xkuj
Author: 0xkuj
Section: Control Center (Modules)
