Package: com.0xkuj.ccdndtimer
Name: CCDNDTimer
Depends: com.opa334.ccsupport
Version: 1.2.3
Architecture: iphoneos-arm
Description: DND Toggle with timer included!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
