Package: com.0xkuj.ccdndtimer
Name: CCDNDTimer
Depends: com.opa334.ccsupport
Description: DND Toggle with timer included!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Architecture: iphoneos-arm64
Version: 1.2.3
Installed-Size: 356
