Package: com.0xkuj.ccdndtimer
Name: CCDNDTimer
Depends: mobilesubstrate, com.opa334.ccsupport
Architecture: iphoneos-arm
Description: DND Toggle with timer included!
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
Version: 1.2.1
Installed-Size: 352
